[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.12'

[packages]
django = "<5"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]